
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Website_BHDT_BTL_CNWEB_.Models.MD_Entities;
@model  List<SanPham>
<body>
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://localhost:54665/My/Index">|||</a></li>
                        <li class="active"><a href="http://localhost:54665/My/Shop">Danh Sách Sản Phẩm</a></li>
                        <li><a href="http://localhost:54665/My/SingleProduct">Thông Tin Chi Tiết Sản Phẩm</a></li>
                        <li><a href="http://localhost:54665/My/Cart">Giỏ Hàng</a></li>
                        <li><a href="http://localhost:54665/My/Information">Thông Tin Giao Hàng</a></li>
                        <li><a href="http://localhost:54665/My/Contacts">Liên Hệ</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><b>Danh Sách Sản Phẩm</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                @foreach (SanPham sp in Model)
                {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">

                            <img src="@sp.Anh" alt="">
                        </div>
                        <h2><a href="http://localhost:54665/My/SingleProduct/?ID=@sp.IDSanPham">@sp.TenSanPham</a></h2>
                        <div class="product-carousel-price">
                            <ins>@sp.DonGiaN</ins> <del>@sp.DonGiaB</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="http://localhost:54665/My/Cart">Add to cart</a>
                        </div>
                    </div>
                </div>
               }
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

